body{
  margin:0;
  font-family:Arial, sans-serif;
  background:#f4f6f8;
  color:#222;
}

nav{
  position:fixed;
  top:0;
  width:100%;
  background:#fff;
  padding:12px;
  text-align:center;
  box-shadow:0 2px 10px rgba(0,0,0,.1);
}
nav a{
  margin:0 10px;
  text-decoration:none;
  color:#0066ff;
  font-weight:bold;
}

section{
  padding:90px 20px;
  max-width:1000px;
  margin:auto;
}

.hero{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.hero-box{
  background:#fff;
  padding:40px;
  border-radius:20px;
  text-align:center;
  box-shadow:0 20px 40px rgba(0,0,0,.1);
}

.hero img{
  width:150px;
  height:150px;
  border-radius:50%;
}

.btn{
  display:inline-block;
  margin:8px;
  padding:12px 26px;
  background:#0066ff;
  color:#fff;
  border-radius:30px;
  text-decoration:none;
}

.outline{
  background:transparent;
  border:2px solid #0066ff;
  color:#0066ff;
}

.skills{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}
.skills div{
  background:#eaf2ff;
  padding:10px 18px;
  border-radius:20px;
}

.card{
  background:#fff;
  padding:30px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,.1);
}

iframe{
  width:100%;
  height:500px;
  border:none;
  border-radius:12px;
}

.cert-list li{
  margin:10px 0;
}

.socials a{
  margin:0 8px;
  text-decoration:none;
  color:#0066ff;
}
